<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" id="mainStyleSheet">
    <!-- <script src="{{ url_for('static', filename='js/test.js') }}"></script> -->
    <title>おやすみとどけ</title>
</head>

<body>
    <main>
        <h1 id="title">おやすみとどけ</h1>
        <div class="tops">
            <div>
                <h2>とどいたとどけ</h2>
                <select name="monthN" id="month-list">
                    <option value="All">すべて</option>
                    <option value="month1">1月</option>
                    <option value="month2">2月</option>
                    <option value="month3">3月</option>
                    <option value="month4">4月</option>
                    <option value="month5">5月</option>
                    <option value="month6">6月</option>
                    <option value="month7">7月</option>
                    <option value="month8">8月</option>
                    <option value="month9">9月</option>
                    <option value="month10">10月</option>
                    <option value="month11">11月</option>
                    <option value="month12">12月</option>
                </select>
            </div>
            <!-- <a class="button-style" id="add1" href="{{ url_for('form') }}">+ついか</a>
            <a class="button-style" id="add2" href="{{ url_for('form') }}">+</a> -->
            <label for="form-chk" id="add1"><a class="button-style">+ついか</a></label>
            <label for="form-chk" id="add2"><a class="button-style">+</a></label>
        </div>
        <div id="month-change">

            <div>
                <table border="0">
                    <div class="card-list" id="card-list-sample">
                        <div class="card" id="card-sample">
                            <div class="name">おなまえ</div>
                            <div class="month">つき</div>
                            <div class="reason">りゆう</div>
                        </div>
                    </div>
                    <div class="card-list">
                        <div class="{{ nm }} null-dialog">
                            <h2>おやすみとどけはまだありません</h2>
                        </div>
                        {% for month in months %}
                        {% set n = loop.index - 1 %}
                        {% set nm = 'month'+n|string %}
                        <!-- {# {% if month == [] %}
                        <div class="{{ nm }} null-dialog">
                            <h2>おやすみとどけはまだありません</h2>
                        </div>
                        {% else %} #} -->
                        {% for instance in month %}
                        <div class="card {{ nm }}">
                            <div class="name">{{ instance.name }}</div>
                            <div class="month">{{ n }}</div>
                            <div class="reason">{{ instance.reason }}</div>
                            <a class="delete" href="{{ url_for('delete', id=instance.id, monthN=n) }}" onclick="clickDelete()">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
                            </a>
                        </div>
                        {% endfor %}
                        {#{% endif %}#}
                        {% endfor %}
                    </div>
                </table>
            </div>

        </div>

    </main>

    <input type="checkbox" name="" id="form-chk">
    <div class="form-back"></div>
    <div class="form">
        <div class="form-tops">
            <h2>あたらしいとどけ</h2>
            <label for="form-chk">×</label>
        </div>
        <form method="POST" action="{{ url_for('register') }}">
            <div class="form-content">
                <div class="form-smalltxt">おなまえ</div>
                <input type="text" name="name" placeholder="すずき" required>
            </div>
            <div class="form-content">
                <div class="form-smalltxt">つき</div>
                <input id="form-month" type="number" name="month" min="1" max="12" required>
            </div>
            <div class="form-content">
                <div class="form-smalltxt">りゆう</div>
                <textarea name="reason" rows="5" placeholder="おつかい" required></textarea>
            </div>
            <div class="form-content form-buttons-content">
                <div class="form-button"><input id="form-submit" type="submit" value="">ていしゅつ</div>
                <label class="form-button" for="form-chk">キャンセル</label>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>