:root{
    --bc00: #000000;
    --bc01: #3f3f3f;
    --bc02: #7f7f7f;
    --bc03: #bfbfbf;
    --bc04: #ffffff;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-width: 300px;
}

a{
    text-decoration: none;
}


#title{
    background-color: var(--bc01);
    color: var(--bc04);
    text-align: center;
    margin: 0px;
    padding: 30px;
    margin-bottom: 30px;
}

.tops{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;

    div{
        display: flex;

        h2{
            margin-right: 20px;
        }
    }
}

#month-list{
    position: relative;
    left: 0px;
}

.button-style{
    display: flex;
    background-color: var(--bc01);
    color: var(--bc04);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 5px 20px;
}

.button-style:hover{
    opacity: 0.5;
    transition: 0.3s;
}

#add2{
    display: none;
}

.card-list{
    position: relative;
    display: block;
    flex-direction: column;
    width: calc(100vw - 40px);
    height: calc(100vh - 300px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-list::-webkit-scrollbar{
    width: 5px;
}

.card-list::-webkit-scrollbar-thumb{
    background-color: var(--bc02);
    border-radius: 10px;
}

#card-list-sample{
    height: auto;
}

#card-sample{
    position: relative;
    background-color: var(--bc01);
    color: var(--bc04);
    border-color: var(--bc03);
    box-shadow: none;
    /* margin-right: 0px; */
    
    .month{
        color: var(--bc04);
    }
}

.card{
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "name name month reason reason reason reason reason reason reason";
    margin: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);
    border-radius: 10px;
    border-left: var(--bc01) 10px solid;
    min-height: 3rem;

    .name, 
    .month, 
    .reason{
        display: flex;
        align-items: center;
        padding: 5px;
        /* overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; */
    }

    .name{
        grid-area: name;
        font-size: large;
        font-weight: bold;
        padding-left: 15px;
    }

    .month{
        grid-area: month;
        color: var(--bc00);
        justify-content: center;
        border: var(--bc03) solid;
        border-width: 0px 1px;
        margin: 10px 0px;
    }

    .reason{
        grid-area: reason;
        padding-left: 15px;
    }
}

#form-chk{
    display: none;
}

.delete{
    position: absolute;
    width: 1.2rem;
    margin-right: 20px;
    right: 0%;
    bottom: 50%;
    transform: translate(0%, 55%);

    svg{
        fill: var(--bc00);
    }
}

.form{
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;  
    width: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--bc04);
    pointer-events: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);
    transition: 0.3s;

    form{
        padding: 20px;
    }

    .form-content{
        margin: 10px;

        .form-smalltxt{
            font-size: x-small;
            color: var(--bc02);
            margin-bottom: 2px;
        }
    }

    input[type="text"],
    textarea{
        width: 100%;
        resize: none;
        padding: 5px;
    }

    input[type="number"]{
        padding: 5px;
    }

    .form-button{
        position: relative;
        background-color: transparent;
        /* background-color: var(--bc04); */
        /* background-color: var(--bc02); */
        color: var(--bc00);
        /* color: var(--bc04); */
        border: var(--bc00) solid 1px;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);
        font-size: small;
        margin: 5px;
    }

    .form-button:hover{
        /* opacity: 0.5; */
        /* background-color: var(--bc00); */
        color: var(--bc04);
        transition: 0.3s;
    }

    .form-button::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--bc00);
        width: 0%;
        height: 100%;
        z-index: -1;
        transition: 0.3s;
    }

    .form-button:hover::after{
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }

    .form-buttons-content{
        display: flex;
        justify-content: space-between;
    }
}

.form-back{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 0;
	backdrop-filter: blur(5px) brightness(70%);
    pointer-events: none;
}

.form-tops{
    display: flex;
    background-color: var(--bc01);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--bc04);

    h2{
        color: var(--bc04);
    }

}

#form-submit{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: none;
    opacity: 0;
}

#form-chk:checked ~ .form{
    opacity: 1;
    pointer-events: all;
}

#form-chk:checked ~ .form-back{
    opacity: 1;
    pointer-events: all;
}

.month1{
    display: var(--month1-property);
}
.month2{
    display: var(--month2-property);
}
.month3{
    display: var(--month3-property);
}
.month4{
    display: var(--month4-property);
}
.month5{
    display: var(--month5-property);
}
.month6{
    display: var(--month6-property);
}
.month7{
    display: var(--month7-property);
}
.month8{
    display: var(--month8-property);
}
.month9{
    display: var(--month9-property);
}
.month10{
    display: var(--month10-property);
}
.month11{
    display: var(--month11-property);
}
.month12{
    display: var(--month12-property);
}

.null-dialog{
    display: var(--null-dialog-property);
    margin: 20px;
    color: var(--bc02);
}

@media screen and (max-width: 800px){
    #title{
        font-size: x-large;
        padding: 20px;
    }

    #add1{
        display: none;
    }

    #add2{
        display: block;
    }

    .tops{
        /* flex-direction: column; */
        padding: 0px 20px;
        div{
            margin-bottom: 10px;
        }
        h2{
            font-size: medium;
        }
    }

    .card-list{
        padding: 0px 0px 10px 10px;
        width: calc(100vw - 20px);
    }

    .card{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "name name month"
        "reason reason reason";
        min-height: 6rem;
        font-size: small;
        margin: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);

        .name{
            padding-bottom: 0px;
        }

        .reason{
            padding-top: 0px;
        }

        .month{
            border-right: none;
        }
    }

    .delete{
        width: 1rem;
        margin-bottom: 20px;
        bottom: 0%;
    }

    .form{
        width: 90vw;
    }
}