*{
    --bc00: #000000;
    --bc01: #3f3f3f;
    --bc02: #7f7f7f;
    --bc03: #bfbfbf;
    --bc04: #ffffff;
    margin: 0px;
    padding: 0px;
}

body{
    min-width: 300px;
}

a{
    text-decoration: none;
}


#title{
    background-color: var(--bc01);
    color: var(--bc04);
    text-align: center;
    margin: 0px;
    padding: 30px;
    margin-bottom: 30px;
}

.tops{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;

    div{
        display: flex;

        h2{
            margin-right: 20px;
        }
    }
}

.null-dialog{
    margin: 20px;
    color: var(--bc02);
}

#month-list{
    position: relative;
    left: 0px;
}

.button-style{
    display: flex;
    background-color: var(--bc01);
    color: var(--bc04);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 5px 20px;
}

.button-style:hover{
    opacity: 0.7;
    transition: 0.3s;
}

#add2{
    display: none;
}

.card-list{
    position: relative;
    display: block;
    flex-direction: column;
    width: calc(100vw - 40px);
    height: calc(100vh - 300px);
    overflow-y: scroll;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-list::-webkit-scrollbar{
    width: 5px;
}

.card-list::-webkit-scrollbar-thumb{
    background-color: var(--bc02);
    border-radius: 10px;
}

#card-list-sample{
    height: auto;
}

#card-sample{
    position: relative;
    background-color: var(--bc01);
    color: var(--bc04);
    border-color: var(--bc03);
    box-shadow: none;
    /* margin-right: 0px; */
    
    .month{
        color: var(--bc04);
    }
}

.card{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "name name month reason reason reason reason reason reason reason";
    margin: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);
    border-radius: 10px;
    border-left: var(--bc01) 10px solid;
    min-height: 3rem;

    .name, 
    .month, 
    .reason{
        display: flex;
        align-items: center;
        padding: 5px;
        /* overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; */
    }

    .name{
        grid-area: name;
        font-size: large;
        font-weight: bold;
        padding-left: 15px;
    }

    .month{
        grid-area: month;
        color: var(--bc00);
        justify-content: center;
        border: var(--bc03) solid;
        border-width: 0px 1px;
        margin: 10px 0px;
    }

    .reason{
        grid-area: reason;
        padding-left: 15px;
    }
}

.form{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: var(--bc02);
}

@media screen and (max-width: 800px){
    #title{
        font-size: x-large;
        padding: 20px;
    }

    #add1{
        display: none;
    }

    #add2{
        display: block;
    }

    .tops{
        /* flex-direction: column; */
        padding: 0px 20px;
        div{
            margin-bottom: 10px;
        }
        h2{
            font-size: medium;
        }
        .button-style{
            content: '+';
        }
    }

    .card-list{
        padding: 0px 0px 10px 10px;
        width: calc(100vw - 20px);
    }

    .card{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "name name month"
        "reason reason reason";
        min-height: 6rem;
        font-size: small;
        margin: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px 0px rgba(17, 17, 26, 0.18);

        .name{
            padding-bottom: 0px;
        }

        .reason{
            padding-top: 0px;
        }

        .month{
            border-right: none;
        }
    }
}